<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/devicePosition.css' />
    <link rel='stylesheet' href='/stylesheets/fileAccess.css' />
    <link rel='stylesheet' href='/stylesheets/fullscreen.css' />
    <link rel='stylesheet' href='/stylesheets/screen.css' />
    <link rel='stylesheet' href='/stylesheets/touchGestures.css' />
    <link rel='stylesheet' href='/stylesheets/game.css' />
  </head>
  <body>

    </div>
    <!-- Firefox removed support -->
    <!--<script src="javascripts/battery.js"></script>-->

    <script src="javascripts/three.js"></script>
    <script src="javascripts/OrbitControls.js"></script>

    <!-- <script src="javascripts/camera.js"></script> -->
    <!-- <script src="javascripts/clipboard.js"></script> -->
    <!-- <script src="javascripts/deviceMotion.js"></script> -->
    <script src="javascripts/devicePosition.js"></script>
    <!-- <script src="javascripts/fileAccess.js"></script> -->
    <!-- <script src="javascripts/foregroundDetection.js"></script> -->
    <!-- <script src="javascripts/fullscreen.js"></script> -->
    <!-- <script src="javascripts/geolocation.js"></script> -->
    <!-- <script src="javascripts/networkType.js"></script> -->
    <!-- <script src="javascripts/notifications.js"></script> -->
    <!-- <script src="javascripts/onlineState.js"></script> -->
    <!-- <script src="javascripts/screen.js"></script> -->
    <!-- <script src="javascripts/touchGestures.js"></script> -->
    <script src="javascripts/vibration.js"></script>
    <script src="javascripts/game.js"></script>
  </body>
</html>
