.survey-container{
  border: 5px solid black;
  width: 500px;
  height: 410px;
  position: relative;
}

.top-answer{
  text-align: center;
  margin-top: 5px;
}

.question{
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left:50px;
  margin-right:50px;
  text-align: center;
}

.answers{
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid lightgrey;
}

.bottom-answer{
  margin-top: 80px;
  text-align: center;
}

.middle-answer-block{
  margin-left: 5px;
  margin-right: 5px;
}

.left-answer{
  display: block;
  float: left;
}

.right-answer{
  display:block;
  float:right;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  position:absolute;
  bottom: 200px;
  left: 237.5px;
}

h3{
  font-weight:normal;
}

.selected{
  font-weight:bold;
  border: 2px solid yellow;
  background-color: lightyellow;
}
